
.popover-header {
   padding: 0.5rem 0.75rem;
   margin-bottom: 0;
   font-size: 1rem;
   color: inherit;
   background-color: #f7f7f7;
   border-bottom: 2px solid #ebebeb;
   border-top-left-radius: calc(555px 25px 15px 25px/25px 5px 35px 555px - 2px);
   border-top-right-radius: calc(555px 25px 15px 25px/25px 5px 35px 555px - 2px);
 }

